{% extends "base.html" %}

{% block title %}
    PROVECTA - DELETAR ETIQUETA
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/configuraEmpresa.css' %}" />

<div class="container__hamburger">
    <button class="hamburger" onclick="toggleSidebar()">&#9776; Menu</button>
    <h2 class="container__title">Deletar Etiqueta</h2>
</div>
<div class="container__view">
    <div class="card">
        <p class="card__text">Tem certeza de que deseja excluir a Etiqueta "<strong>{{ object.descricao }}</strong>" ?</p>
        <form method="post" class="card__form">
            {% csrf_token %}
            <button type="submit" class="card__form__deletar">Deletar</button>
        </form>
    </div>
    <div class="card__voltar">
        <a href="{% url 'nfe:etiqueta_list' %}" class="card__form__voltar">Voltar</a>
    </div>
</div>

{% endblock %}